{
  "presets": [
    "@babel/preset-env", "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-shorthand-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-for-of",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator",
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src/"],
        "extensions": [".js", ".jsx", ".es", ".es6", ".mjs"],
        "stripExtensions": [".js", ".jsx", ".es", ".es6", ".mjs"],
        "alias": {
        }
      }
    ]
  ]
}
